@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .error {
        font-size: 1rem;
        width: 100%;
    }
</style>

<div class="card-body">
    <form method="POST" action="/Admin/User/Create" class="row g-3">
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <label class="form-label">Tên quản trị viên</label>
            <input type="text" name="TenQuanTriVien" class="form-control" placeholder="Tên quản trị viên">
        </div>
        <div class="col-md-12">
            <label class="form-label">Email</label>
            <input type="text" name="Email" class="form-control" placeholder="Email">
        </div>
        <div class="col-md-12">
            <label class="form-label">Mật khẩu</label>
            <input type="text" name="MatKhauQuanTriVien" class="form-control" placeholder="Mật khẩu">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Tạo Admin</button>
        </div>
    </form>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    TenQuanTriVien: {
                        required: true,
                        maxlength: 20
                    },
                    Email: {
                        required: true,
                        email: true,
                        maxlength: 20
                    },
                    MatKhauQuanTriVien: {
                        required: true,
                        minlength: 6,
                        maxlength: 20
                    }
                }
            });
        });
    </script>
}