@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4">
                <div class="form-container">
                    <div class="form-icon"><i class="fa fa-user"></i></div>
                    <h3 class="title">Login</h3>
                    <form method="POST" action="/Account/Login" class="form-horizontal">
                        @Html.AntiForgeryToken()

                        <!-- Hiển thị thông báo lỗi chung -->
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label>email</label>
                            <input type="email" name="email" id="email" value="@(Model?.email)" class="form-control" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <label>password</label>
                            <input type="password" name="password" id="password" value="@(Model?.password)" class="form-control" placeholder="password">
                        </div>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                }
            });
        });
    </script>
}
